.layout {
  display: grid;
  grid-template-columns: 275px auto 350px;
  margin: 0 auto;
  max-width: 1200px;
}

.layout__main{
border-right: solid 1px var(--SLATE-300);
margin-right: 2px;
}

/* main layout block */
.layout__main-header {
  background-color: white;
  backdrop-filter: blur(5px);
  width: 573px;
  height: 3rem;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  position: fixed;
  border-bottom:solid 1px var(--SLATE-300);
  border-left:solid 1px var(--SLATE-300);
  border:solid 1px var(--SLATE-300);
  z-index: 1;
}
.empty {
  height: 3rem;
}
.layout__main-header > .text {
  font-size: 20px;
}
.profile___banner-img{
    height: 12.5rem;

}
.profile__dp-img{
    border: var(--ICONS-ORANGE) 2px solid;
    margin-top: -5rem;
}