.post {
  display: flex;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.post:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.post a {
 
  text-decoration: none;
  color:var(--PURE-BLACK);
}



.post__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__header {
  display: flex;
}

.post__author-name {
  font-size: 15px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.post__author-slug {
  color: #5b7083;
  font-size: 15px;
}

.post__publish-time {
  margin-left: 5px;
  color: #657786;
}

.post__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}
.post__bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e6ecf0;
    padding:.5rem;
    font-size: 20px;
}
.post__bottom>.fas.fa-heart{
color:var(--HOT-PINK);
}
.post__bottom>.fal.fa-heart:hover{
color:var(--HOT-PINK);
transition: .04s ;

}